{{#section 'head'}}
    <title>Dry Memes - Collection</title>
    <link rel="stylesheet" href="/css/collection.css">
{{/section}}

<h1 class="title">Meme Collection</h1>
<p class="lead"><i>(Hover cursor to see text)</i></p>

<div class="">
	<div class="row">
	{{#each memes}}
		<div class="card">
			<h3 class="meme-title text-center">{{meme_name}}</h3>
			<img src="{{og_img}}" data-og-img="{{og_img}}" data-new-img="{{new_img}}" data-meme_text="{{meme_text}}" alt="{{meme_text}}">

      {{!-- We should move the edit/delete buttons to the User's page 
        I think this form should be removed -- Jon
        --}}
      <form method="POST" class="delete-meme">
          <input type="hidden" name="_method" value="DELETE">
            <div class="card-block text-right">
                <button class="card-link btn-edit text-primary" data-memeid="{{id}}">Edit</button>
                <button type="" class="card-link btn-delete text-danger">Delete</button>
            </div>
      </form>
		</div>
	{{/each}}
	</div>
</div>

{{#section 'scripts'}}
<script src="/js/collection.js" type="text/javascript"></script>
{{/section}}
