{{#section 'head'}}
<title>DRY MEMES</title>
{{/section}}

<div class="demo jumbotron d-flex justify-content-center align-items-center">
    <h2 class="text-center">Placeholder for future GIF</h2>
</div>
<div class="disp-bg">
    <h3 class="script">Here's some art to get you started . . .</h3>
    <div class="container">
        <div class="row">
            {{#each artworks}}
            <div class="col-md-4">
                <div class="artwork justify-content-center">
                    <a href="/create-meme/{{id}}">
                        <img src="{{img_url}}" alt="{{title}}" data-artworkid="{{id}}" class="meme">
                    </a>
                    <div class="artwork-desc">
                        <h4 class="desc-title">{{title}}</h4>
                        <p class="desc-text">by {{author}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div id="sign-up" class="jumbotron bg-dark">
    <div class="row">
        <div class="col text-center justify-content-center">
            <button id="signup" class="btn-primary btn-lg" type="submit">
                Sign Up
            </button>
            <!-- Sign up form will be inserted here dynamically -->
            <form id="signup-form" action="#" method="POST" class="w-50 sign-up-form text-center" style="display: none;">
                <div class="form-group">
                    <label for="name" class="text-white text-left sign-up-label">Name</label>
                    <input name="name" type="text" class="form-control sign-input" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email" class="text-white sign-up-label">Email</label>
                    <input name="email" type="email" class="form-control sign-input" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password" class="text-white sign-up-label">Password</label>
                    <input name="password" type="password" class="form-control sign-input" id="password" placeholder="Password">
                </div>
                <div class="form-check" style="float: left">
                    <input type="checkbox" class="form-check-input" id="signin-persist">
                    <label class="form-check-label text-white" for="signin-persist">Remember me</label>
                </div>
                <button class="btn btn-primary submit-sign-up" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <h3 class="script">. . . or you can check out what others have created &#8628;</h3>
</div>
<div class="row content-contain">
    <div class="col top-picks">
        <h2 class="sidebar-title">TOP PICKS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum molestie tortor ut odio accumsan porttitor. Donec faucibus libero sit amet bibendum varius. Aliquam interdum sem lectus, vitae vehicula arcu tempor ut. Vestibulum lobortis commodo iaculis. Etiam sagittis ipsum sit amet eros aliquet dictum vel vel eros. Sed risus est, mollis vitae fringilla a, bibendum et massa. Nulla luctus sem sapien, a aliquet dolor congue vitae. Donec pretium sapien nec mauris condimentum, non lacinia dui lobortis. Donec finibus, libero id laoreet malesuada, odio mi scelerisque enim, vitae pharetra augue erat nec lectus. Aenean cursus elit nibh, vitae placerat massa placerat non. Duis ut venenatis est, nec viverra ex. Maecenas pretium vehicula lectus, sed elementum lacus auctor non.</p>
    </div>
    <div class="col random-picks">
        <h2 class="sidebar-title">RANDOM</h2>

        <div class="row d-flex justify-content-center">
            {{#each randomPicks}}
            <div class="col-md-4 rand-pick-holder">
                <div class="artwork">
                    <a href="/edit-meme/{{id}}">
                        <img src="{{new_img}}" alt="{{meme_name}}" data-artworkid="{{id}}" class="meme">
                    </a>
                    <div class="artwork-desc">
                        <h4 class="desc-title">{{title}}</h4>
                        <!-- <p class="desc-text">by {{author}}</p> -->
                    </div>
                </div>
            </div>
            {{/each}}     
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".disp-bg .artwork").hover(function() {
        $(this).children(".artwork-desc").slideDown(400);
    }, function() {
        $(this).children(".artwork-desc").slideUp(400);
    });
</script>
{{#section 'scripts'}}

{{/section}}
