{{#section 'head'}}
    <title>Deface - Search Results {{portfolio_name}}</title>
    <link rel="stylesheet" href="/css/searchresults.css">
{{/section}}

<h1>Search Results</h1>
<p class="lead"><i>Click on an artwork to use it to make a meme</i></p>

<div class="row">
		{{#each results}}
	<div class="col-lg-4 col-md-6 col-sm-6 card-div">
		<div class="card">
	    	<div class="image-wrapper">
	    	<img  src="{{img_url}}" alt="{{title}}">
	    	</div>
	        <div class="card-body">
				<p class="info"><i>Artist: </i>{{author}}</p>
				<p class="info"><i>Title: </i>{{title}}</p>
			</div>
	 	</div>
	</div>
	{{/each}}
</div>
